<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36}: %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="File" class="ch.qos.logback.core.FileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Rolls up every day -->
			<fileNamePattern>logs/${project.artifactId}_%d{yyyyMMdd}.log</fileNamePattern>
			<!-- Keeps last 3 months -->
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<Append>true</Append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{dd MMM yyyy - HH:mm:ss.SSS} %-5level [%thread] %logger{36}: %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	    	<level>ALL</level>
	    </filter>
	</appender>

	<logger name = "org.hibernate" level = "INFO" />
	<logger name = "org.hibernate.type" level = "INFO" />
	<logger name = "uk.ac.ebi.fg.biosd.model" level = "INFO" />
	<logger name = "org.apache.http.wire" level = "WARN" />
	<logger name = "o.s.c.i.s.PathMatchingResourcePatternResolver" level = "OFF" />
	<logger name = "org.apache.http.headers" level = "WARN" />
	<logger name = "com.mchange" level = "OFF" />

	<root level="DEBUG">
		<appender-ref ref="Console" />
		<appender-ref ref="File" />
	</root>

</configuration>