solrIndexer.corePath=http://SOLRHOSTNAME:SOLRPORT/solr/CORENAME
groups.fetchStep=1000
samples.fetchStep=1000
onto.mapping.annotator=true
#number of EXTRA threads to use, zero will run it all on main thread
threadcount=0

spring.datasource.url=jdbc:oracle:thin:@HOSTNAME:PORT:DATABSENAME
spring.datasource.username=xxxx
spring.datasource.password=xxxxx

spring.jpa.database-platform=org.hibernate.dialect.Oracle10gDialect
spring.jpa.hibernate.ddl-auto=
