##REQUIRED
solrindexer.solr.corepath.groups=http://localhost:8983/solr/groups
solrindexer.solr.corepath.samples=http://localhost:8983/solr/samples
solrindexer.solr.corepath.merged=http://localhost:8983/solr/merged
solrindexer.solr.corepath.autosuggest=http://localhost:8983/solr/autosuggest

##OPTIONAL
#number of documents to queue at once
#lower saves memory here, but increases network traffic
#higher uses more memory here, but increases network traffic
solrindexer.solr.queuesize=1000
#number of threads to use to send to solr
solrindexer.solr.threadcount=4

# Autosuggest data
#autosuggest field
solrindexer.autosuggest.field=onto_suggest
#number of documents that have an autosuggest value
solrindexer.autosuggest.mincount=100


#number of EXTRA threads to use, zero will run it all on main thread
solrindexer.threadcount=0

#maximum number of miliseconds before solr commits each new thing
solrindexer.solr.commitwithin=60000

#number of groups/samples to handle in one callable
#too low and too much multithreading overhead
#too high and multithreading not used efficiently
solrindexer.fetchstep.groups=1000
solrindexer.fetchstep.samples=1000

#used for getting only a subset of accessions e.g. the "count-th" out of "total" chunks
#note that count begins from 1. e.g. a total of 3 will have count of 1, 2, & 3 to have complete coverage
solrindexer.offset.count=0
solrindexer.offset.total=0

#directory where neo4j csv files will be output to, if enabled
neo4jindexer.output=output