<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN">

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd MMM yyyy - HH:mm:ss.SSS} [%-5level] %t %logger{36} - %msg%n"/>
		</Console>
		<File name="Main" fileName="logs/Main.log">
			<PatternLayout pattern="%d{dd MMM yyyy - HH:mm:ss.SSS} [%-5level] %t %logger{36} - %msg%n"/>
		</File>
		<File name="DBInteraction" fileName="logs/DBInteraction.log">
			<PatternLayout pattern="%d{dd MMM yyyy - HH:mm:ss.SSS} [%-5level] %t %logger{36} - %msg%n"/>
		</File>
		<File name="biosd_model" fileName="logs/biosd_model.log">
			<PatternLayout pattern="%d{dd MMM yyyy - HH:mm:ss.SSS} [%-5level] %t %logger{36} - %msg%n"/>
		</File>
	</appenders>

	<loggers>
		<logger name="uk.ac.ebi.fg.core_model.resources" level="debug">
			<appenderRef ref="Console"/>
			<appenderRef ref="biosd_model"/>
		</logger>
		<logger name="main.App" level="info" additivity="false">
			<appenderRef ref="Console"/>
			<appenderRef ref="Main"/>
		</logger>
		<logger name="main.DataBaseInteraction" level="debug" additivity="false">
			<appenderRef ref="Console"/>
			<appenderRef ref="DBInteraction"/>
		</logger>
		<root level="error">
			<appenderRef ref="Console"/>
		</root>
	</loggers>
	
</configuration>