<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36}: %msg%n</pattern>
		</encoder>
	</appender>


	<logger name = "uk.ac.ebi.fg.biosd.model" level = "INFO"/>
	<logger name = "uk.ac.ebi.solrIndexer" level = "DEBUG" additivity="false">
		<appender-ref ref="Console" />
	</logger>

	<root level="WARN">
		<appender-ref ref="Console" />
	</root>

</configuration>