solrIndexer.groups.corePath=http://localhost:8983/solr/groups
solrIndexer.samples.corePath=http://localhost:8983/solr/samples
solrIndexer.queueSize=1000
solrIndexer.threadCount=4
solrIndexer.commitWithin=60000
groups.fetchStep=1000
samples.fetchStep=1000
onto.mapping.annotator=true
#number of EXTRA threads to use, zero will run it all on main thread
threadcount=12